@import './responsive.scss';

$text-color: #262828;

button {
    z-index: 3;
    cursor: pointer;
}

.push-down {
    margin-bottom: 40px;
}

.container {
    height: 100vh;
    color: $text-color;
}

.sidebar {
    position: absolute;
    left: 50px;
    top: 50px;
}

.content {
    margin-top: 100px;
    padding-top: 50px;
    height: 100%;
    > .row {
        height: 100%;
    }
}

.sidebar-ct {
    text-align: center;
    padding: 15px;
    img {
        border-radius: 50%;
    }
}
