// tablets and phones font-size is greater
@media only screen and (max-width: 992px) {
    html {
        font-size: 36px !important;
    }
    form {
        .form-check-inline {
            width: 100%;
            margin-right: 30px;
            + .form-check-inline { margin-left: 0; }
        }
    }
}